<div class="projects-container">
  <h1 class="projects-title">My Projects</h1>

  <div class="projects-actions">
    <%= link_to "New Project", new_project_path, class: "btn-primary" %>
  </div>

  <% if @projects.any? %>
    <table class="projects-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Videos</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.status.humanize %></td>
            <td><%= project.videos.count %></td>
            <td><%= l(project.created_at.to_date) %></td>
            <td>
              <%= link_to "View", project_path(project), class: "btn-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="no-projects">No projects yet. Create one now!</p>
  <% end %>
</div>
