<div class="container">
  <h2>Confirm And Pay</h2>

  <p style="margin-top: 10px;"><strong>Project name:</strong> <%= session[:project_data]["title"] %></p>
  <p style="margin-top: 10px;"><strong>Raw footage link:</strong> <%= session[:project_data]["raw_footage_url"] %></p>

  <div style="margin-top: 20px;">
    <% @selected_videos.each do |video| %>
      <div style="border: 1px solid #ccc; padding: 12px; width: 250px;">
        <p><%= video.name %> - <strong>$<%= video.price %></strong></p>
      </div>
    <% end %>
  </div>

  <h3 style="margin-top: 10px;"><strong>Total: </strong> $<%= @total_price %></h3>

  <%= link_to "Want to change? Go Back", new_project_path, class: "btn" %>

  <%= form_with url: projects_path, method: :post, local: true do |f| %>
    <%= label_tag :card_number, "Card Number" %>
    <%= text_field_tag :card_number, nil,
      required: true,
      pattern: "\\d{16}",
      maxlength: 16,
      inputmode: "numeric",
      placeholder: "1234567812345678" %><br>

    <%= label_tag :expiration, "Expiration Date (MMYY)" %>
    <%= text_field_tag :expiration, nil,
      required: true,
      pattern: "\\d{4}",
      maxlength: 4,
      inputmode: "numeric",
      placeholder: "MMYY" %><br>

    <%= label_tag :cvv, "CVV" %>
    <%= text_field_tag :cvv, nil,
      required: true,
      pattern: "\\d{3}",
      maxlength: 3,
      inputmode: "numeric",
      placeholder: "123" %><br>

    <%= submit_tag "Pay & Create Project" %>
  <% end %>
</div>